<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>758266626465-r9n3di0e6p836g1t88d4na95djf59dnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758266626465-r9n3di0e6p836g1t88d4na95djf59dnv</string>
	<key>API_KEY</key>
	<string>AIzaSyBIk7kVK1rmSgJNkaoM9aamkPIld3vKuBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>758266626465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GALF.HealthMe</string>
	<key>PROJECT_ID</key>
	<string>healthme-f4b1c</string>
	<key>STORAGE_BUCKET</key>
	<string>healthme-f4b1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758266626465:ios:3a1af570eaeb43b2</string>
	<key>DATABASE_URL</key>
	<string>https://healthme-f4b1c.firebaseio.com</string>
</dict>
</plist>